Flask==3.0.3
gunicorn==21.2.0
python-dotenv==1.0.1
supabase==2.5.3
requests==2.32.3
qrcode[pil]==7.4.2
cloudinary==1.40.0
rapidfuzz==3.9.3
google-api-python-client==2.150.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
Werkzeug==3.0.3
Pillow==10.3.0
cryptography
cffi
pyjwt
python-dateutil
blinker
click
certifi
idna
urllib3
charset-normalizer
StrEnum
